#### 1. Print number from 1 to 5 uing a while loop.

In [7]:
number = 1
while number <=5:
    print(number)
    number+=1
del number

1
2
3
4
5

#### 2. Calculate the sum of number from 1 to 10 uing a while loop.

In [10]:
number = 1
count = 0

while number <= 10:
    count += number
    number += 1
print (f'Sum of numbers from 1 to 10 : {count}')

Sum of numbers from 1 to 10 : 55

#### 3. Caluclate the factorial of a number uing a for loop.

In [16]:
number = int(input("Please provide number :"))
factorial_number = 1

for i in range(1, number+1):
    factorial_number *= i
print (f'The factorial number of {number} is {factorial_number}')

Please provide number : 10

The factorial number of 10 is 3628800

#### 4. Count the number of vowels in a string using a for loop.

In [25]:
string = input("Please provide string : ")
vowels = ['a', 'e', 'i', 'o', 'u']
count = 0

for char in string.lower():
    if char in vowels:
        count+=1

print(f'Number of vowels found in string {string} is {count}')

Please provide string :  aeiouw

Number of vowels found in string aeiouw is 5

#### 5. Print a pattern using nested loop.

In [43]:
pattern_size = int(input("Enter size of patter : "))
for i in range(0, pattern_size): 
    for j in range(0, i):
        print("*",end=" ")
    print()

Enter size of patter :  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

#### 6. Generate a mltiplication table using neted loop.

In [49]:
size = int(input("Enter number for multiplication table : "))
for i in range(1, size+1): 
    for j in range(1, 11):
        print(f'{i} * {j} = {i * j}')
    print()

Enter number for multiplication table :  3

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30