1. Convert a integer to a floatig-point number.

In [2]:
int_num = 1
type(int_num)

int

In [3]:
float_num = float(int_num)
type(float_num)

float

In [4]:
print(float_num)

1.0

2. Convert a float to a integer.

In [6]:
float_num = 2.5
type(float_num)

float

In [8]:
int_num = int(float_num)
type(int_num)

int

In [10]:
print(int_num)

2

3. Convert a integer to a strig.

In [11]:
int_num = 125
type(int_num)

int

In [12]:
str_num = str(int_num)
type(str_num)

str

In [23]:
print(str_num)

125

4. Convert a list to a tuple.

In [28]:
name_list = ["Ram", "Krishna", "Mahadev"]
type(name_list)

list

In [30]:
name_tuple = tuple(name_list)
type(name_tuple)

tuple

In [31]:
print(name_tuple)

('Ram', 'Krishna', 'Mahadev')

5. Convert a tuple to a list.

In [32]:
city_tuple = ("Rajkot", "Vadodara", "Jamnagar")
type(city_tuple)

tuple

In [34]:
city_list = list(city_tuple)
type(city_list)

list

In [35]:
print(city_list)

['Rajkot', 'Vadodara', 'Jamnagar']

6. Convert a decimal number to binary.

In [36]:
dec_num = 12
bin_num = bin(dec_num)
print(bin_num)

0b1100

7. Convert a non-zero number to boolean.

In [26]:
int_num = 5
flag = bool(int_num)
type(flag)

bool

In [27]:
print(flag)

True